.content__box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 22%;
  margin: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 8px -9px rgba(0, 0, 0, 0.75);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: .5rem;

  height: 40vh;
}


.content__box,
.image > img {
  object-fit: cover;
}

.image {
  overflow: hidden;
  flex: 4;
  border-radius: .5rem .5rem 0 0;
}

.details {
  flex: 1;
  left: 2rem;
  bottom: 0;
  display: flex;
  opacity: 0;
  transition: 300ms ease;
}

.user__details {
  display: flex;
  align-items: center;
}
.user__details h3 {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.image:hover ~ .details {
  opacity: 1;
  bottom: 2rem;
}
