.background{
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
}

.background,
.image,
.info{
    display: flex;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.image, 
.info{
    position: relative;
}

.image{
    
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5);

}
.image > img{ 
    height: 90vh;
    overflow: hidden;
}

.info{
    width: 30%;
    background-color: rgba(0, 0, 0, 0.9);

}
.exit{
    position: absolute;
    color: white;
    right: 1.5rem;
    top:0.7rem;
    font-size: 1.5rem;
    height: 6vh;
    width: 10%;
    font-weight: 500;
}

.exit:hover{
    background-color: rgba(255, 255, 255, 0.3);

}