.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem;
  z-index: 2;
}
.box {
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 8px -9px rgba(0, 0, 0, 0.75);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-color: transparent;
  backdrop-filter: blur(.5rem);

}



