.exit {
  position: sticky;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
}

.button {
  border: none;
  background-color: transparent;
}

.button h1:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button h1,
.icon {
  color: rgba(34, 34, 34);
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 0rem 2rem;
  margin-top: 1rem;
}

.icon {
  background-color: green;
  padding: 1rem;
}
