.exit {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background-color: white;
}

.button {
  border: none;
  background-color: transparent;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}
.button h1,
.icon {
  color: rgba(34, 34, 34);
  font-size: 1.5rem;
  font-weight: 400;
}
