.logo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.image__container {
  width: 40%;
  overflow: hidden;
}
.image {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.logo h1 {
  font-style: italic;
  font-weight: 800;
  font-size: 2.5rem;
}
