.navbar {
  margin-top: 0.1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;


  position: sticky;
  background-color: white;
  z-index: 2;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
    min-height: 8vh;
}

.navbar h1 {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: 900;
    font-size: 3rem;
    flex:1;

}

.search__bar{

  display: flex;
  align-items: center;
  height: 5rem;
  background-color: #eff2f5;
  border-radius: 10px;
  flex:2;
}

.search__bar input {
    width: 90%; 
    height: 2.5rem;
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.navbar__icons{
    display:flex;
    justify-content: space-evenly;
    flex: 1;
}

.notifs{
    display: flex;
    justify-content: flex-end;
}