.image__section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222222;
  align-items: flex-start;
}

.main__image__container,
.main__image__container {
  overflow: hidden;
}
.outer__main__image__container {
  width: 60%;
}

.main__image__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main__image {
  width: 40vw;
  height: auto;
  font-size: 5rem;
  border-radius: 1rem;
}

.outer__mini__image__container {
  display: flex;
  width: 40%;
}
.mini__image__container {
  width: 100%;
}

.mini__image {
  width: 15vw;
  height: auto;
  border-radius: 1rem;
}
