.place__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem 0;
  padding: 1;
}

.place__info h1 {
  color: #222222;
  font-size: 2.5rem;
  font-weight: bolder;
}
.location {
  display: flex;
  align-items: center;
}

.location__icon {
  color: #222222;
  font-size: 3rem;
}
.location h2 {
  color: rgba(34, 34, 34, 0.7);
  font-size: 2rem;
  font-weight: bold;
}
