.room {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(34, 34, 34, 0.1);
  color: #222222;
  margin: 5rem 0;
}
.room h1,
.room h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}


.room h1 {
  font-size: 2rem;
  font-weight: bold;
}
.room h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
