.dropdown {
  position: fixed;
  top: 10%;
  right: 3%;
  width: 18%;
  height: 35vh;
  border-radius: 1rem;
  background-color: white;
  border: 1px solid rgba(34, 34, 34, 0.1);
  box-shadow: 5px 5px 8px -9px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0;
}

.dropdown a {
  width: 100%;
}
.dropdown h5 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.5rem;
}
.dropdown a:hover {
  background-color: rgba(34, 34, 34, 0.1);
}
