.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
  width: 100%;
  z-index: 2;
  padding: 1.5rem 2rem;
}
.default {
  position: sticky;
}
.map {
  position: fixed;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 23%;
  margin-right: 3%;
}
