.user {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.user a {
  display: flex;
  align-items: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 10rem;
  padding: 0.5rem;
}

.user h5 {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
