.gm-style-iw {
    margin: 0 !important;
    display: flex !important;
    padding: 0 !important;
}

.gm-style-iw-c {
  background-color: red !important;
}
.gm-style-iw-d {
  padding: 0 !important;
  margin: 0 !important;

  background-color: red !important;
}

.gm-style-iw-c button {
  position: absolute !important;
  left: 1rem;
}
