.navigation {
  position: fixed;
  top: 80vh;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10rem;
  background-color: #222222;
  backdrop-filter: blur(0.5rem);
  z-index: 2;
}

.navigation a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  color: white;
}

.navigation svg {
  font-size: 3rem;
  font-weight: 300;
  color: white;
}

.navigation p {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 0.5rem;
}

.navigation:hover {
  box-shadow: 5px 5px 8px -9px rgba(0, 0, 0, 0.75);
  padding: 0.2rem;
  top: 79vh;
}
