.user {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.user a {
  display: flex;
  align-items: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 10rem;
  padding: 0.5rem 1rem;
}

.user a svg {
  font-size: 2.2rem;
  margin: 0 0.5rem;
}

.user a:hover {
  box-shadow: 5px 5px 8px -9px rgba(0, 0, 0, 0.75);
}
