.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  gap: 1rem;
}

.name,
.name ~ input,
.gender,
.button {
  display: flex;
  width: 100%;
  gap: 2rem;
}
.name input,
.name ~ input,
.button {
  margin: 1rem 0;
  font-size: 1.5rem;
  border: 1px solid rgba(34, 34, 34, 0.5);
  border-radius: 1rem;
  outline: none;
  padding: 2rem 3rem;
  color: #222222;
}

.gender {
  align-items: center;
  font-size: 1rem;
}
.button {
  align-items: center;
  justify-content: center;
}
